@import "../../../Styles/color";
.VideoPhoto-div {
  width: torem(183px);
  height: torem(244px);
  border-radius: torem(5px);
  margin-top: torem(10px);
  img {
    border-radius: torem(5px);
    width: torem(183px);
    height: torem(244px);
    object-fit: cover;
  }
}
