@import "../../../Styles/color";

.VideoPhoto-div {
  width: torem(183px);
  height: torem(244px);
  border-radius: torem(5px);
  margin-top: torem(10px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .VideoPhoto-div__img {
    border-radius: torem(5px);
    width: torem(183px);
    height: torem(244px);
    object-fit: cover;
  }
}