@import "../../../../Styles/color";

.HomeVideoSlider-div {
  display: flex;
  // width: 100%;
}

.HomeVideoSlider-div__container {
  padding: torem(20px);
  display: flex;
  gap: torem(10px);

  img {
    width: torem(100px);
    height: torem(100px);
    object-fit: contain;
    border-radius: torem(5px);
    transition: all 500ms;

    &:hover {
      scale: 1.5;
    }
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .HomeVideoSlider-div {
    width: 100%;
  }

  .HomeVideoSlider-div__container {
    padding: 0px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}